@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 240, 8%, 5%;
        --foreground: 300, 92%, 95%;

        --card: 240, 8%, 10%;
        --card-foreground: 300, 92%, 95%;

        --popover: 240, 8%, 5%;
        --popover-foreground: 300, 92%, 95%;

        --primary: 240, 66%, 85%;
        --primary-foreground: 240, 8%, 5%;

        --secondary: 217.2, 32.6%, 17.5%;
        --secondary-foreground: 300, 92%, 95%;

        --muted: 217.2, 32.6%, 17.5%;
        --muted-foreground: 0, 0%, 75%;

        --accent: 240, 8%, 12%;
        --accent-foreground: 300, 92%, 95%;

        --destructive: 0, 60%, 41%;
        --destructive-foreground: 300, 92%, 95%;

        --border: 0, 0%, 100%;
        --input: 240, 8%, 15%;
        --ring: 212.7, 26.8%, 83.9%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border/10;
    }

    body {
        @apply bg-background text-foreground;
    }

    ::-webkit-scrollbar {
        @apply bg-background size-[7px] rounded-full;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-accent rounded-md;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-accent/80;
    }
}